* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  width: 100%;
  /* margin: 0;
    padding: 0; */
}

:root {
  --main-color: #ff5200;
  --second-color: #eee;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 80px;
  padding: 0 50px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

.logo a {
  color: #000;
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.nav-links li {
  list-style: none;
  margin: 0 15px;
}

.nav-links li a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px;
  transition: all 0.5s ease;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    padding: 0;
  }

  .burger {
    display: block;
  }

  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .nav-links li {
    margin: 20px 0;
  }

  .burger div {
    width: 30px;
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  .nav-active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.cart-icon {
  margin-right: 20px;
}

.cart-icon a {
  color: #fff;
  font-size: 20px;
}

.cart-icon i {
  margin-top: 5px;
}

@media screen and (max-width: 768px) {
  .cart-icon {
    display: none;
  }
}

/* seller Table styles */

.products .responsive-table {
  overflow-x: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.products .responsive-table .css-button-rounded--green {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  outline: none;
  border-radius: 5px;
  border: 2px solid #57cc99;
  background: #57cc99;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.css-button-rounded--green:hover {
  background: #fff;
  color: #57cc99;
}

.products table {
  max-width: 1300px;
  border-spacing: 0;
}
.products thead td {
  background-color: #eee;
  font-weight: bold;
}
.products table td {
  padding: 15px;
}

.products tbody td {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.products tbody tr:hover td {
  background-color: #faf7f7;
}

.products tbody td:nth-child(4) {
  width: 35%;
}

.products tbody td:last-child {
  border-right: 1px solid #eee;
}

.products table img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 2px;
  background-color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.products table img:not(:first-child) {
  margin-left: -20px;
}
.products table .label {
  font-size: 13px;
}

.css-button-rounded--black {
  max-width: 60px;
  height: 30px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  outline: none;
  border-radius: 5px;
  border: 2px solid #212529;
  background: #212529;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.css-button-rounded--black:hover {
  background: #fff;
  color: #212529;
}

.css-button-rounded--red {
  max-width: 60px;
  height: 30px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  outline: none;
  border-radius: 5px;
  border: 2px solid #d90429;
  background: #d90429;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.css-button-rounded--red:hover {
  background: #fff;
  color: #d90429;
}

/* popub styles */
.add-popup {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ecf2ff;
  padding: 20px;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  padding-top: 20px;
  width: 80%;
}

.form #category {
  width: 40%;
}
.form .row input {
  width: 40%;
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 15px;
  outline: none;
  border: none;
  background-color: var(--second-color);
  background-color: #ffffff;
}

.form .row button {
  width: 40%;
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #eee;
  background-color: #3e54ac;
  border-radius: 15px;
  padding: 10px 15px;
  transition: ease 0.3s;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  -ms-transition: ease 0.3s;
  -o-transition: ease 0.3s;
}
.form .row button:hover {
  color: #eee;
  background-color: #655dbb;
}
#dashboard {
  background-color: transparent;
  color: #000;
  outline: 1px solid #000;
}

#dashboard:hover {
  background-color: #3e54ac;
  color: #eee;
  outline-color: #3e54ac;
}
select {
  text-align: center;
  font-size: 20px;
  border-radius: 15px;
  padding: 10px;
}

@media (max-width: 600px) {
  .add-popup {
    width: 90%;
    /* font-size: 16px; */
  }
  .form {
    font-size: 18px;
  }
  .form .row input {
    width: 50%;
    font-size: 14px;
  }
  .form #category {
    width: 50%;
    font-size: 14px;
  }

  .form .row button,
  #dashboard {
    font-size: 14px;
    width: 47%;
  }
}
